@{
    Layout = "";
}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Simon Pizzeria </title>
  </head>
  <header>
      <!-- As a link -->
<nav class="navbar navbar-light" style="background-color: #e3f2fd">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Simon's Pizza</a>
  </div>
</nav>

  </header>
  <body>
    
<div class=“container-fluid”>
    <div class=“row”>
      <div class=“col-12”>
        <figure class=“text-center”>
            <blockquote class=“blockquote”>
              <p>La pizzeria di Simone</p>
            </blockquote>
            <figcaption class=“blockquote-footer”>
             Scegli la pizza che vuoi!
            </figcaption>
          </figure>
      </div>
      </div>
      </div>
      <div class=“container.fluid mt-4”>
        <div class=“row”>
          <div class=“col-4”>
            <div class=“shadow p-3 mb-5 bg-white”>
                <img class=“w-100” src=“https://i.pinimg.com/736x/9a/4f/ea/9a4fea9f02becba0a6855532a1390cc2.jpg”  alt=“”>
            <h5 class=“text-center text-white p-3 bg-warning”> Norma</h5>
                <h5 class=“text-center fs-6 fw-lighter”>Sed a lacus augue. Duis porta molestie dignissim.
                    Maurius retrum tempor augue.
                    Morbi molestie vestibulum vestibulum.</h5>
                    <hr>
                
            </div>
          </div>
          <div class=“col-4”>
          <div class=“shadow p-3 mb-5 bg-white”>
          <img class=“w-100” src=“”  alt=“”>
          <h5 class=“text-center text-white p-3 me-0 bg-success”> Primavera</h5>
                <h5 class=“text-center fs-6 fw-lighter”>

                </h5>
                    <hr>
                    
          </div>
          </div>
          <div class=“col-4”>
              <div class=“shadow p-3 mb-5 bg-white”>
            <img class=“w-100” src=“https://image.brigitte.de/11525430/uncropped-0-0/47b19b73f7b5a6613a352f6228cb595f/NP/pizza-margherita-bild.jpg”  alt=“”>
            <h5 class=“text-center text-white p-3 me-0 bg-info”> Margherita</h5>
                <h5 class=“text-center fs-6 fw-lighter”>Sed a lacus augue. Duis porta molestie dignissim.
                    Maurius retrum tempor augue.
                    Morbi molestie vestibulum vestibulum.</h5>
                    <hr>
                >
              </div>
          </div>
        </div>
      </div>




    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

   
  </body>
</html>